      .cls-1 {
        fill: #9ec7f3;
      }

      .cls-2 {
        fill: #f7d3aa;
      }

      .cls-3 {
        fill: #a65628;
      }

      .cls-4 {
        fill: #ff7f00;
      }

      .cls-5 {
        fill: #e41a1c;
      }

      .cls-6 {
        fill: #984ea3;
      }

      .cls-7 {
        fill: #ff3;
      }

      .cls-8 {
        fill: #4daf4a;
      }
