.manhattan-svg-container {
  max-width: 400px;
}

.cls-1 {
  opacity: 0.9;
}

.cls-2, .cls-4 {
  fill: #f15a24;
}

.cls-2, .cls-44 {
  opacity: 0.7;
}

.cls-3 {
  fill: #50f044;
}

.cls-10, .cls-13, .cls-14, .cls-15, .cls-17, .cls-20, .cls-21, .cls-23, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-38, .cls-40, .cls-42, .cls-49, .cls-5, .cls-8 {
  opacity: 0.8;
}

.cls-6 {
  fill: #7fdfe2;
}

.cls-38, .cls-7 {
  fill: #8938cf;
}

.cls-8 {
  fill: lime;
}

.cls-15, .cls-9 {
  fill: #ef4837;
}

.cls-10 {
  fill: #b33cef;
}

.cls-11 {
  fill: #47f040;
}

.cls-12 {
  fill: #d2af41;
}

.cls-13 {
  fill: #c9e252;
}

.cls-14 {
  fill: #ea952c;
}

.cls-16 {
  fill: #b540ef;
}

.cls-17 {
  fill: #ef4d3a;
}

.cls-18 {
  fill: #eea64c;
}

.cls-19 {
  fill: #ef4a38;
}

.cls-20 {
  fill: #3247ef;
}

.cls-21 {
  fill: #20a831;
}

.cls-22 {
  fill: #3cb9ef;
}

.cls-23 {
  fill: #b1842f;
}

.cls-24 {
  fill: #e75d8d;
}

.cls-25 {
  fill: #56a144;
}

.cls-26 {
  fill: #d8f14c;
}

.cls-27 {
  fill: #37b9ef;
}

.cls-28 {
  fill: #463ebd;
}

.cls-29 {
  fill: #ef5739;
}

.cls-30 {
  fill: #53e054;
}

.cls-31 {
  fill: #676ed3;
}

.cls-32 {
  fill: #d7f14a;
}

.cls-33 {
  fill: #52f046;
}

.cls-34 {
  fill: #b43def;
}

.cls-35 {
  fill: #5db933;
}

.cls-36 {
  fill: #3ab1d0;
}

.cls-37 {
  fill: #ad58d9;
}

.cls-39 {
  fill: #ce372f;
}

.cls-40, .cls-41 {
  fill: #eda243;
}

.cls-42 {
  fill: #57ee4d;
}

.cls-43 {
  fill: #48ca57;
}

.cls-44, .cls-45 {
  fill: #3c4fec;
}

.cls-45 {
  opacity: 0.6;
}

.cls-46 {
  fill: #ec5c4a;
}

.cls-47 {
  fill: #dcef51;
}

.cls-48 {
  fill: #57ef4e;
}

.cls-49 {
  fill: #e04f55;
}

.cls-50 {
  fill: #d04132;
}

.cls-51 {
  fill: #4ac957;
}

.cls-52 {
  fill: #c9e24f;
}

.cls-53 {
  fill: #fdc937;
}

.cls-54 {
  fill: #30adcf;
}

.cls-55 {
  fill: #c9e251;
}
