nav {
    background-color: #f26101;
    padding-top: 5px;
    width: 100vw;
}

@media (min-width: 600px){
  nav ul {
    float: right;
    padding-top: 15px;
  }

  nav ul li {
    display: inline-block;
    vertical-align: middle;
  }
}

nav ul {
  font-family: 'Work Sans', 'sans-serif';
  overflow: hidden;
  color: white;
  margin: 0px;
  text-align: center;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  display: inline-block;
}

nav ul li {
  color: #fff;
  padding: 0px 15px 0px 15px;
  margin-bottom: 15px;
}

nav ul li a {
  text-decoration: none;
}

.site-title {
  font-family: 'Work Sans', 'sans-serif';
  font-weight: 700;
  font-size: 1.7em;
  display: inline-block;
  margin: 5px 50px 10px 10px;
  color: white;
}

.handle {
  width: 100%;
  background-color: #f26101;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 1px;
  cursor: pointer;
  color: white;
  display: none;
}

.handle-text {
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

@media only screen and (max-width: 580px){

  nav ul {
    max-height: 0px;
    display: block;
    margin-bottom: 10px;
  }

  .showing {
    max-height: 20em;
    width: 100%;
  }

  .not-showing {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
    margin: 0px 0px 0px 0px;
  }

  .handle {
    display: inline;
  }

  .svg-container {
    width: 100%;
  }
} /* end media */

.nav-item {
  text-decoration: none;
  color: #f0f0f0;
  text-shadow: none;
  background-image: none;
}
