body {
  background-color: #F5F5F5;
}

.App {
  text-align: center;
}

header {
  height: 100%;
}

header h1 {
  margin: 20px 0px 20px 20px;
}

p {
  font-family: 'Quattrocento', serif;
}

a:hover {
  text-decoration: none;
  color: #F2D1B3;
}

nav {
    background-color: #f26101;
    align-content: center;
    padding-top: 5px;
    width: 100%;
}

nav ul {
  font-family: 'Work Sans', 'sans-serif';
  overflow: hidden;
  color: white;
  margin: 0px;
  text-align: center;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

nav ul li {
  color: #fff;
  padding: 0px 15px 0px 15px;
  margin-bottom: 15px;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
}

.site-title {
  font-family: 'Work Sans', 'sans-serif';
  font-weight: 700;
  font-size: 1.7em;
  display: inline-block;
  margin: 10px;
  color: white;
}

.handle {
  width: 100%;
  background-color: #f26101;
  text-align: left;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 1px;
  cursor: pointer;
  color: white;
  display: none;
}

.handle-text {
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

@media only screen and (max-width: 580px){

  nav ul {
    max-height: 0px;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    text-align: right;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .handle {
    display: inline;
  }

  .svg-container {
    width: 100%;
  }
} /* end media */

.nav-item {
  text-decoration: none;
  color: #f0f0f0;
  text-shadow: none;
  background-image: none;
}

.container-fluid {
  padding-bottom: 40px;
}

.component-container {
  margin: auto;
  max-width: 600px;
  padding-bottom: 40px;
}

.component-title {
  margin-bottom: 0px;
}

.five-boroughs-exploded {
  display: block;
  margin: 10px auto;
  text-align: center;
  max-width: 200px;
}

.svg-container-component {
  margin: 20px auto;
  position: relative;
  z-index: 1;
}

.svg-container {
  z-index: 2;
  width: 100%;
  max-width: 600px;
  border: 2px solid #999;
  margin: auto;
}

.borough-info-box {
  position: absolute;
  z-index: 3;
  max-width: 600px;
  min-width: 120px;
  max-height: 300px;
  margin: 1em;
  font-size: 12px;
  line-height: normal;
  background-color: #f0f0f0;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.borough-info-box-title {
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-bottom: 0px;
}

.draggable {
  cursor: move;
}

.water {
  fill: #5477A4;
}

.non-active-place {
  fill: #fff;
  stroke: #000;
  stroke-width: 1;
}

.active-place {
  stroke: #f26101;
  stroke-width: 3;
  fill: #f26101;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 2s ease-out;
  -moz-animation-iteration-count: infinite;
  -ms-animation: pulsate 2s ease-out;
  -ms-animation-iteration-count: infinite;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

.nav-bar-brand {
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  padding: 0px 30px 0px 10px;
  margin-bottom: 10px;
}

@-webkit-keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}

@-moz-keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}

@-ms-keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}

@keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}
