.App {
  text-align: center;
}

.svg-container {
  display: block;
  width: 80vw;
  margin: auto;
  border: 2px solid #999;
}

.selected {
  fill-opacity: 0.5;
  fill: #ff2100;
}

.not-selected {
   fill: #fff;
}

.water {
  fill: #5477A4;
}

.non-active-place {
  fill: #fff;
  stroke: #000;
  stroke-width: 1;
}

.active-place {
  stroke: #FF2100;
  stroke-width: 3;
  fill: #FF2100;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 2s ease-out;
  -moz-animation-iteration-count: infinite;
  -ms-animation: pulsate 2s ease-out;
  -ms-animation-iteration-count: infinite;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}

@-moz-keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}

@-ms-keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}

@keyframes pulsate {
  0%    { stroke-opacity:0.4; stroke-width: 3; }
  50%   { stroke-opacity:1.0; stroke-width: 5; }
  100%  { stroke-opacity:0.4; stroke-width: 3; }
}
